<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Connect Four</title>
    <link rel="stylesheet" href="css/gameStyling.css">
  </head>
  <body>
    <h1>SIGN UP</h1>
    <input type="text" placeholder="Username" id="usernameInput" required>
    <input type="text" placeholder="Email" id="emailInput" required>
    <input type="password" placeholder="Password" id="passwordInput" required>
    <i class="far fa-eye" id="togglePassword"></i>
    <input type="password" placeholder="Confirm Password" id="passwordInputConfirm" required>
    <i class="far fa-eye"></i>
    <!-- TODO eye to view password -->
    <button type="button" id="registerBtn" disabled>PLAY</button>
    <p id="errorMessage"></p>
    <script type="module" src="js/getcookie.js"></script>
  </body>
</html>

<!-- TODO if time allows change this to an html dialog popup -->