<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Connect Four</title>
    <link rel="stylesheet" href="css/gameStyling.css">
  </head>
  <body>
    <h1>SIGN UP</h1>
    <input type="text" placeholder="Username" id="usernameInput">
    <input type="text" placeholder="Email" id="emailInput">
    <input type="password" placeholder="Password" id="passwordInput">
    <i class="far fa-eye" id="togglePassword"></i>
    <input type="password" placeholder="Confirm Password" id="passwordInputConfirm">
    <i class="far fa-eye"></i>
    <!-- TODO eye to view password -->
    <button type="button" id="registerBtn">PLAY</button>
  </body>
</html>

<!-- TODO if time allows change this to an html dialog popup -->