<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Connect Four</title>
  <link rel="stylesheet" href="css/gameStyling.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
</head>

<body>
  <h1>CONNECT 4</h1>
  <input type="text" placeholder="Username" id="usernameInput">
  <input type="password" placeholder="Password" id="passwordInput">
  <i class="far fa-eye" id="togglePassword"></i>
  <!-- TODO eye to view password -->
  <button type="button" id="loginBtn">LOGIN</button>
  <button type="button" id="goToRegisterBtn">I'M NEW</button>
  <div class="google-btn">
    <div class="google-icon-wrapper">
      <img alt="Google Icon" class="google-icon"
        src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
    </div>
    <p class="btn-text"><b>Sign in with google</b></p>
  </div>
  <script type="module" src="js/getcookie.js"></script>
</body>

</html>