table{
    border-spacing: 1rem;
    margin-left: 18rem;
    margin-top: 5rem;
    border-spacing: 1rem;
    background-color: rgb(29, 96, 245);
}
td,tr {
    padding: 1.5rem;
    border-radius: 10rem;
    border: 0.15rem solid;
    border-color: black;
    background-color: aliceblue;
}
#border-separate:checked ~ table {
    border-collapse: separate;
}

#border-collapse:checked ~ table {
    border-collapse: collapse;
}
  
  
  