:root {
  --white: #fff;
  --google-blue: #4285f4;
  --button-active-blue: #1669f2;
  --general-button-color: darkorange;
  --general-button-color-2: lightgoldenrodyellow;

}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: calc(1rem + 3.5vw);
  letter-spacing: 0.3rem;
  color: var(--general-button-color-2);
  margin-top: 2rem;
}

h2 {
  margin-left: 3rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:  xx-large;
  letter-spacing: 0.3rem;
  color: var(--general-button-color);
}

h3{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:  xx-large;
  letter-spacing: 0.3rem;
  color:orange;
}

.simpleDisplay{
  display: block;
  text-align: center;
  line-height: 150%;
  font-family:cursive;
  font-size:  calc(1rem + 4vw);
  letter-spacing: 0.3rem;
  color:orange;
}

body {
  background-color: deepskyblue;
}

input {
  text-align: center;
  color: aliceblue;
  margin: auto;
  display: block;
  background-color: black;
  border-radius: 1rem;
  height: 2rem;
  border-color: black;
}

#usernameInput {
  margin-top: 3rem;
}

#emailInput {
    margin-top: 1.5rem;
}

#passwordInput {
  margin-top: 1.5rem;
}

#passwordInputConfirm {
    margin-top: 1.5rem;
}

button {
  cursor: pointer;
  margin: auto;
  display: block;
  border-radius: 1rem;
  height: 2.3rem;
  width: 8rem;
  border-color: black;
  font-size: large;
}

#loginBtn {
  background-color: var(--general-button-color);
  margin-top: 1.5rem;
}

#goToRegisterBtn {
  background-color: var(--general-button-color-2);
  margin-top: 0.8rem;
}

#createGameBtn {
    background-color: var(--general-button-color);
    margin-top: 4rem;
    width: 10rem;
    height: 2.5rem;
}

#joinGameBtn {
  background-color: var(--general-button-color);
  margin-top: 4rem;
  width: 10rem;
  height: 2.5rem;
}

#registerBtn {
    background-color: var(--general-button-color);
    margin-top: 1.3rem;
}

#checkCodeBtn{
  background-color: var(--general-button-color);
  margin-top: 4rem;
  width: 15rem;
  height: 3.5rem;
  font-size: calc(1rem + 1vw);
}

#checkCodeBtn:hover{
  background-color:rgb(106, 255, 47);
}

#backBtn{
  background-color: var(--general-button-color);
  margin-top: 0rem;
  margin-left: 5rem;
  width: 10rem;
  height: 3rem;
  font-size: calc(1rem + 0.5vw);
  background-color:chartreuse
}

#joinCodeIdInput{
  margin-top: 4rem;
  width: 10rem;
  height: 2.5rem;
  font-size: calc(1rem + 0.5vw);

}

.error{
  font-size: calc(1rem + 0.5vw);
  color:crimson;
  display: block;
  text-align: center;
  line-height: 150%;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:500);

#gameTable {
  border-spacing: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 1rem;
  background-color: rgb(29, 96, 245);
}

.gameCol,
gameRow {
  padding: 1.5rem;
  border-radius: 10rem;
  border: 0.2rem solid;
  border-color: black;
  background-color: aliceblue;
}
#border-separate:checked ~ table {
  border-collapse: separate;
}

#border-collapse:checked ~ table {
  border-collapse: collapse;
}

.hidden{
  display: none;
}

#errorMessage{
  display: none;
  color: brown;
  text-align: center;
  font-family: cursive;
  font-size: calc(1rem + 3.5vw);
  letter-spacing: 0.3rem;
  margin-top: 2rem;
}
